input {
    font-size: 28px;
    padding: .5rem 1rem;
    border-radius: 16px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
fieldset {
    outline: none;
    border: none;
}
.taskImage {
    width: 400px;
    height: 400px;
    background: no-repeat center/100% url("./icons/addtask.jpeg"); 
}