.App {
  text-align:center;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c33;
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Roboto';
}

.button1 {

  width: 200px;
  height: 50px;

  font-size: 25px;
  background: rgb(231, 231, 231);
  border-radius: 20px;
  border-color: rgb(21, 114, 156);
  border-width: 3px;
  cursor: pointer;
  color:rgb(10, 1, 36);
}
.button1:hover {
  background: rgb(26, 27, 41);;
  border-radius: 20px ;
  color:white
}
.task {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100px;
  border-radius: 8px;
  background: white;
  color: #282c34;
  border-radius: 30px;
  box-shadow: 
      0px 0px 15px 9px rgba(250, 250, 250, 0.123),
      0px 0px 15px 9px rgba(243, 243, 243, 0.062);
}
.task:hover {
  background:rgb(207, 207, 207);
  color: rgb(26, 27, 41)
}

.task h4 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 100px;
}
.task:hover h4 {
  background: rgb(26, 27, 41);;
  border-radius: 20px ;
  color:white;
  font-weight: 1000;
  
}
.task p {
  display: flex;
  align-items: center;
  justify-content:center ;
  color:rgba(0, 0, 0, 0.4);
  font-size: 200px;
}





